node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json
dist
build
coverage
reports
*.min.js
public/build
CHANGELOG.md
../CHANGELOG.md
../coverage
../coverage/**
../reports
../reports/**
src-tauri/target
src-tauri/**/target
src-tauri/.cargo
src-tauri/tauri.conf.json
benchmark_payload.json
